.line-separator {
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}

p {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}