<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"/>

    <link rel="stylesheet"
          th:href="@{/css/core.css}"
          href="../static/css/core.css"/>

    <link rel="stylesheet"
          th:href="@{/css/cms.css}"
          href="../static/css/cms.css"/>

    <headers>
        <cache-control/>
    </headers>
</head>

<body>
<div th:replace="header :: header">
</div>
<div class="container">
    <h3>App Einstellungen</h3>

    <div class="line-separator"></div>
    <br/>

    <div class="alert alert-success" role="alert" th:if="${success}">
        Banner erfolgreich geupdated
    </div>


    <form action="#"
          th:action="@{/appconfig/saveAppConfig}"
          th:object="${appconfig}"
          enctype="multipart/form-data"
          method="post">

        <h4>Banner Bild</h4>
        Der Banner sollte folgende Eigenschaften haben:
        <br/>Auflösung: 900 x 350 px
        <br/>Format: PNG
        <br/><img th:src="${img_src}"></img>
        <br/>
        <br/>


        Neuen Banner hochladen
        <input id="upload-file-input"
               type="file"
               name="uploadfile"
               title="Neuen Banner hochladen"
               accept="image/*"/>
        <br/>

        <h4>Ticket Link</h4>
        Der Link welcher aufgerufen werden soll, wenn in der App der Menü-Eintrag "Tickets" angeklickt wird

        <input type="text" class="form-control" id="usr" th:field="*{ticketsUrl}"/>
        <br/>
        <h4>Falken-Ticker</h4>
        <input type="checkbox" name="active" th:checked="*{runTickerNotifciatorEnabled}"
               th:field="*{runTickerNotifciatorEnabled}"> Push-Nachrichten aktivieren</input>
        <br/>
        <br/>
        <h4>Livescore Push</h4>
        <input type="checkbox" name="active" th:checked="*{runLiveGameNotificatorEnabled}"
               th:field="*{runLiveGameNotificatorEnabled}"> Livescore Push-Nachrichten aktivieren</input>
        <br/>
        <br/>
        <h4>Proxy-Einstellungen</h4>
        Url:
        <input type="text" class="form-control" id="url" th:field="*{proxyUrl}"/>
        Port:
        <input type="text" class="form-control" id="port" th:field="*{proxyPort}"/>

        <br/>
        <br/>
        <button type="submit" class="btn btn-default">Änderung Speichern</button>
    </form>
</div>
</body>
</html>