<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css"
          href="css/bootstrap.min.css"
          rel="stylesheet" media="screen"
          th:href="@{css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Falken App CMS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'appconfig' ? 'active' : ''}"><a href="#" th:href="@{/appconfig}">App Einstellungen</a></li>
                <li th:classappend="${page == 'news' ? 'active' : ''}"><a href="#" th:href="@{/news}">Nachricht</a></li>
                <li th:classappend="${page == 'link' ? 'active' : ''}"><a href="#" th:href="@{/link}">Link teilen</a></li>
                <li th:classappend="${page == 'sponsors' ? 'active' : ''}"><a href="#" th:href="@{/sponsors}">Sponsoren</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>