<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" />

    <link rel="stylesheet"
          th:href="@{/css/core.css}"
          href="../static/css/core.css" />

    <link rel="stylesheet"
          th:href="@{/css/cms.css}"
          href="../static/css/cms.css" />

    <script type="text/javascript"
            src="tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
<div th:replace="header :: header">
</div>
<div class="container">
    <h3>Link teilen</h3>
    <div class="line-separator"></div>
    <br/>

    <div class="alert alert-success" role="alert" th:if="${error}" >
        Ein Fehler ist aufgetreten
    </div>

    <div class="alert alert-success" role="alert" th:if="${success}" >
        Link erfolgreich geteilt
    </div>


    <form action="#"
          th:action="@{/link}"
          th:object="${message}"
          method="post">

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('link')}" >
            Bitte einen Link eintragen
        </div>

        <input type="text" class="form-control" id="usr" th:field="*{link}" />
        <br/>

        <button type="submit" class="btn btn-default">Link teilen</button>
    </form>
</div>
</body>
</html>