<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" />

    <link rel="stylesheet"
          th:href="@{/css/core.css}"
          href="../static/css/core.css" />

    <link rel="stylesheet"
          th:href="@{/css/cms.css}"
          href="../static/css/cms.css" />

    <script type="text/javascript"
            src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap",
                "media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>

<body>
<div th:replace="header :: header">
</div>
<div class="container">
    <h3>Nachricht verfassen</h3>
    <div class="line-separator"></div>

    <div class="alert alert-success" role="alert" th:if="${success}" >
        Nachricht erfolgreich veröffentlicht
    </div>

    <form action="#"
          th:action="@{/news/postnews}"
          th:object="${message}"
          method="post">

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('link')}" >
            Bitte eine Nachricht eintragen
        </div>

        Titel
        <input type="text" class="form-control" id="usr" th:field="*{title}" />
        <br/>
        Inhalt
        <textarea name="content"
                  style="width:100%; height: 250px;"
                  th:field="*{link}" />
        <br/>
        <button type="submit" class="btn btn-default">Nachricht teilen</button>
    </form>
</div>
</body>
</html>