<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" />

    <link rel="stylesheet"
          th:href="@{/css/core.css}"
          href="/css/core.css" />

    <link rel="stylesheet"
          th:href="@{/css/cms.css}"
          href="/css/cms.css" />

    <headers>
        <cache-control />
    </headers>
</head>

<body>
<div th:replace="header :: header">
</div>
<div class="container">
    <h3>Sponsoren</h3>
    <div class="line-separator"></div>
    <br/>
    <form action="#" th:action="@{/sponsors/create}" th:object="${sponsor}" method="post" enctype="multipart/form-data">
        <table class="table">
            <h4 >Neuer Sponsor</h4>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" >
                Bitte einen Namen eintragen
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('website')}" >
                Bitte eine Webseite eintragen
            </div>

            <thead>
            <tr>
                <th>Name</th>
                <th>Webseite</th>
                <th>Logo</th>
                <th>Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" hidden="hidden" th:field="*{id}"/>
                    <input type="text" th:field="*{name}"/></td>
                <td><input type="text" th:field="*{website}"/></td>
                <td>
                    <input  id="upload-file-input"
                            type="file"
                            name="uploadfile"
                            accept="image/*"/>
                </td>
                <td><select th:field="*{role}" >
                    <option th:each="role : ${T(de.app.cms.model.sponsor.Role).values()}"
                            th:value="${role}"
                            th:text="${role.value}"
                            ></option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-default">Speichern</button>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Webseite</th>
            <th scope="col" width="28%">Logo</th>
            <th scope="col">Typ</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="s : ${sponsors}">
                <td th:text="${s.id}">1</td>
                <td th:text="${s.name}">George</td>
                <td th:text="${s.website}">Washington</td>
                <td>
                    <img th:src="${s.imgurl}" width="100%"/>
                </td>
                <td th:text="${s.role.value}">admin</td>
                <td><a href="#" th:href="@{/sponsors/delete(id=${s.id})}">del</a> |
                    <a href="#" th:href="@{/sponsors/edit(id=${s.id})}">edit</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>
</body>
</html>